body {
  font-family: 'IBM Plex Sans', 'Verdana', 'Tahoma', 'Ubuntu', 'Fira Sans', sans-serif;
}

.question-line {
  font-size: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
